@model MyBook.Models.Admin.AdminViewModel
<section class="admin_functional">
    <h2>Получить информацию об авторе</h2>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Найти автора" aria-label="Search">
    </form>
    <div class="author_information">
        <div class="author_information">
            <table>
                <tr class="upper_table_row">
                    <td>Фотография</td>
                    <td>Имя</td>
                    <td>Дата рождения</td>
                    <td>Количество книг</td>
                    <td>Действия</td>
                </tr>
                @foreach (var author in Model.Authors.OrderByDescending(it=>it.AuthorId).Take(10))
                {
                     string? imgLink = author.ImgLinks.FirstOrDefault()?.Url;
                    if (imgLink == null)
                        imgLink = "/assets/img/non.png";
                    <tr>
                        <td><img src="@imgLink"></td>
                        <td>@author.Name</td>
                        <td>@author.BirthDate</td>
                        <td>@author.AuthorBooks.Count</td>
                        <td>
                            <div class="flex_but">
                                @{
                                    var model = new MyBook.Models.Admin.EditAuthorViewModel
                {
                    AuthorId = author.AuthorId,
                    BirthDate = null,
                    Name = author.Name,
                    ImageLink = author.ImgLinks.FirstOrDefault()?.Url
                };
                                    if (author.BirthDate != null)
                                        model.BirthDate = DateTime.Parse(author.BirthDate);
                                }
                                <button class="spec_but" type="button" onclick="location.href='@Url.Action("EditAuthorModal", "AdminProfile",model)'">
                                    Редактировать
                                </button>
                                <button class="spec_but" type="button" onclick="location.href='@Url.Action("DeleteAuthor", "AdminProfile",author)'">Удалить</button>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="add_author">
        <button class="spec_but" type="button" onclick="location.href='@Url.Action("AddAuthorModal", "AdminProfile", new MyBook.Models.Admin.EditAuthorViewModel())'">
            Добавить автора
        </button>
    </div>
</section>