@using MyBook.Models
@model MyBook.Models.UserProfileViewModel
<section class="user_page_lower">
    <div class="user_page_lower_wrapper">
        <div class="container">
            <div class="content_wrapper">
                <div class="row pt-2 pb-5">
                    <div class="col-lg-5">
                        <div class="inner_content_block w-100">
                            <div class="wrapper_content_inner_block">
                                <form method="post" asp-controller="UserProfile" asp-action="EditProfile">
                                    <div asp-validation-summary="ModelOnly"></div>
                                    <span>Ваши данные</span>
                                    <input type="hidden" asp-for="Id" />
                                    <div class="form-group form_label">
                                        <label asp-for="FirstName" for="nameForm">Имя</label>
                                        <input asp-for="FirstName" type="text" value="@Model.FirstName" class="form-control" id="nameForm" aria-describedby="emailHelp">
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group form_label">
                                        <label asp-for="LastName" for="surnameForm">Фамилия</label>
                                        <input asp-for="LastName" type="text" value="@Model.LastName" class="form-control" id="surnameForm" aria-describedby="emailHelp">
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group form_label">
                                        <label asp-for="Email" for="surnameForm">Электронная почта</label>
                                        <input asp-for="Email" type="text" value="@Model.Email" class="form-control" id="emailForm" aria-describedby="emailHelp">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group form_label">
                                        <label asp-for="BirthDate" for="surnameForm">Дата рождения</label>
                                        <input asp-for="BirthDate" type="date" value="@Model.BirthDate?.ToString("yyyy-MM-dd")" class="form-control" id="dateForm" min="1922-04-01" max="2020-04-30" aria-describedby="emailHelp">
                                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                                    </div>
                                    <button class="main_button" type="submit">Сохранить</button>
                                </form>
                            </div>
                        </div>
                        <div class="inner_content_block">
                            <div class="wrapper_content_inner_block">
                                <span>Социальные сети</span>
                                <div class="color_block" style="background: rgb(59, 89, 152);">
                                    <p>VK<p>
                                        <form asp-controller="UserProfile" asp-action="AddVk" asp-route-userId="@Model.Id">
                                            <button class="inner_button">Подключить</button>
                                        </form>
                                </div>
                                <small>
                                    Подключите социальные сети, чтобы входить
                                    <br>через них в MyBook
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="w-100">
                            @await Html.PartialAsync("_EditPassword",new EditPasswordViewModel{ Id = Model.Id})
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
    }