@model MyBook.Entities.Book
<div class="container">
    <article class="postcard">
        <a class="postcard_img_link" href="#">
            <img class="postcard_img" src="@Model.ImgLinks.FirstOrDefault(link => link.Resolution=="thumbnail")?.Url" alt="">
        </a>
        <div class="postcard_text">
            <h3 class="h3 PreviewTitle">
                <div class="me-4 Name">
                    @Model.Name
                </div>
                @(await Component.InvokeAsync("StarsRateResult",5))
            </h3>
            <p class="author">@foreach (var authorBooks in Model.AuthorBooks)
                              {
                                  @authorBooks.Author.Name
                              }</p>
            <p class="postcard_preview-txt">@Model.Description.Description</p>
        </div>
    </article>
</div>
