@model MyBook.Entities.Book


@{
    var rating = 0.0;
    foreach (var modelRating in Model.Ratings)
    {
        rating += modelRating.Points;
        
    }
    rating = (double) rating / Model.Ratings.Count;
}
<link rel="stylesheet" href="~/css/bookPreview.css">
<div class="book_informat">
    <div class="booK_info_image">
        <div class="">
            <a  asp-controller="Book" asp-action="Book" asp-route-bookId="@Model.BookId">
                <img src="@Model.ImgLinks.FirstOrDefault(link => link.Resolution == "thumbnail")?.Url" alt="" id="bookSearchPhoto">
            </a>
        </div>
    </div>
    <div class="booK_info_text">
        <h3>
            <a asp-controller="Book" asp-action="Book" asp-route-bookId="@Model.BookId">
                <h2>@Model.Name</h2>
            </a>
            <i class="fa fa-star"></i><span class="text-secondary  ms-2">@rating</span>
        </h3>
        <p class="author">
            @foreach (var authorBooks in Model.AuthorBooks)
            {
                <a asp-controller="Author" asp-action="Author" asp-route-authorId="@authorBooks.Author.AuthorId">
                    @authorBooks.Author.Name
                </a>
            }
        </p>
        <p class="postcard_preview-txt">@Model.Description.Description</p>
    </div>
</div>